body {
  padding-top: 10rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.jumbotron {
  padding top: 10rem;
  background-color: #EFCBE3;

}
.btn-primary{
  background-color: #F343B7;
}
.navbar-toggler {
  background-color: #F343B7
}
