body {
  padding-top: 10rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.jumbotron-lights {
  padding top: 10rem;
  backgound-colour: #EFCBE3;

}
.btn-primary{
  background-color: #F343B7;
}
